@import '~antd/dist/antd.css';

.App {
  padding: 24px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}
.ant-input {
  margin: 12px 0;
}

.imgWrap {
  text-align: center;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.imgWrap img {
  width: auto;
  height: 150px;
}
.text {
  margin-top: 6px;
  cursor: pointer;
}
.btns {
  margin-top: 24px;
  text-align: right;
}

.btns button:first-child {
  border: none;
  margin-right: 24px;
  box-shadow: none;
}
